body {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: 1fr;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
